<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignUp(f)" #f="ngForm">
      <h2>Sign Up</h2>
      <div class="form-group">
        <label for="email"> Email </label>
        <input
          class="form-control"
          type="email"
          id="email"
          name="email"
          ngModel
          required
          email
          #emailInput="ngModel"
        />
        <div
          *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="emailInput.errors.required">Email is required.</div>
          <div *ngIf="emailInput.errors.email">
            Email must be a valid email format.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="pasword"> Password </label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          ngModel
          required
          minlength="6"
          #passwordInput="ngModel"
        />
      </div>
      <div
        *ngIf="
          passwordInput.invalid &&
          (passwordInput.dirty || passwordInput.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="passwordInput.errors.required">Password is required.</div>
        <div *ngIf="passwordInput.errors.minlength">
          Password must be at least 6 characters long.
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
        Sign Up
      </button>
    </form>
  </div>
</div>
